:root {
    --color-titles-background: #0A3871;
    --color-darkblue-hover: #052051;
    --background-body: #F3F5FC;
    --color-descriptions-links: #495057;
    --color-title-message: #343A40;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.inactive {
    display: none;
}

body {
    background: var(--background-body);
}

/* Message */
.container__right {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: white;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 40px 10px rgb(136 141 255 / 10%);
}
.message {
    font-size: 22px;
    color: var(--color-descriptions-links);
}
.message__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.message__info.inactive {
    display: none;
}
#illustration {
    width: 200px;
}
.no__message {
    font-size: 24px;
    color: var(--color-title-message);
}
.insert__text {
    font-size: 16px;
    color: var(--color-descriptions-links);
}
.btn__copy {
    width: 80%;
    background: rgb(157 157 157);
    padding: 10px;
}
.btn__copy:hover {
    background: rgb(157 157 157);
}
.btn__copy.copied {
    background: rgb(31, 155, 60);
}

/* Responsive */

@media screen and (max-width: 980px) {
    header {
        padding: 20px 30px;
    }
    .container {
        padding: 60px 30px;
        flex-wrap: wrap;
        gap: 10px;
    }
}

@media screen and (max-width: 895px) {
    .container {
        gap: 60px;
    }
    .container__left {
        width: 100%;
    }
    .container__right {
        width: 100%;
        gap: 15px;
    }
    .message__info {
        gap: 15px;
    }
}
@media screen and (max-width: 500px) {
    #illustration {
        display: none;
    }
}
@media screen and (max-width: 400px) {
    header {
        padding: 20px 15px;
    }
    .container {
        padding: 60px 15px;
    }
    .buttons {
        flex-wrap: wrap;
    }
}
