:root {
    --color-titles-background: #0A3871;
    --color-darkblue-hover: #052051;
    --background-body: #F3F5FC;
    --color-descriptions-links: #495057;
    --color-title-message: #343A40;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.inactive {
    display: none;
}

body {
    background: var(--background-body);
}