:root {
    --color-btns: white;
    --color-btn2: #0A3871;
    --color-textarea: #0A3871;
    --background-body: #F3F5FC;
    --background-btns: #0A3871;
    --background-btns-hover: #052051;
    --btns-border: #0A3871;
    --color-title-message: #343A40;
    --background-btn-copy: #333333;
    --color-descriptions-links: #495057;
    --background-btn-copied: #4CAF50;
    --color-btn-copy: #272727;
    --background-message-container: white;
    --color-box-shadow: rgb(136 141 255 / 10%);
}

/* :root.dark {
    --color-btns: #A8A8A8;
    --color-btn2: #A8A8A8;
    --color-textarea: #A8A8A8;
    --background-body: #1A1A1A;
    --background-btns: none;
    --background-btns-hover: #000000;
    --btns-border: #0A3871;
    --color-title-message: #C8C8C8;
    --background-btn-copy: #333333;
    --color-descriptions-links: #A8A8A8;
    --background-btn-copied: #4CAF50;
    --color-btn-copy: #272727;
    --background-message-container: #1A1A1A;
    --color-box-shadow: rgb(31 31 31);
} */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.inactive {
    display: none;
}

body {
    background: var(--background-body);
}